<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <title>Active Orders For Kitchen</title>
    <style>

      .card_display{
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: #e9ecef;
    }
    .container{
        margin-left: 150px;
    }
    .button_status{
        background-color: #007bff;
        border-radius: 8px;
        color: white;
    }
    #logout_link{
        margin-left: 80%;
    }
    #rest_name_link{
        margin-left: 500px;
    }
    .jumbotron {
    padding: 0.5rem 2rem
}
</style>


</head>

<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>{{this_rest.restaurant_name}}</h1>
    </div>   
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/view_menu">Menu</a>
        <a id="logout_link" class="navbar-brand" href="/logout">Logout</a>
    </nav>

    <div class="container">
        <div class="row">
            {% for order in orders %}
            <div class="card card_display" style="width: 19rem; text-align: center;">
                
                    <h5 class="card-title">Order Number: {{order.id}}</h5>
                    <h6 class="card-subtitle mb-2">Order Status: {{order.order_status}}</h6>
                    <h6 class="card-subtitle mb-2">Table Number: {{order.table_id}}</h6>
                    <h6 class="card-subtitle mb-2 card-pad"></h6>
                    <p class="card-text">
                        <div class="row">
                            <div class="col"><span>Item</span></div>
                            <div class="col"><span>Quantity</span></div>
                        </div>
                        {% for item in order.get_orders.all %}
                        <div class="row">
                            <div class="col">{{item.item.item_name}}</div>
                            <div class="col quantity">{{item.quantity}}</div>
                        </div>
                            {% endfor %}
                    </p>
                    <form action="/update/status" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{order.id}}" name="order_id">
                            <select class="drop_down" name="order_status">
                                <option value="default">Select Status</option>
                                <option value="process">In Progress</option>
                                <option value="ready">Ready</option>
                                <option value="waiting">Awaiting</option>
                            </select>
                            <input type="submit" class="button_status" name="submit" value="Update Status">
                        </form>
                    <a href="/edit/{{order.id}}" class="card-link">Edit Order</a>
            </div>
            {% endfor %}
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function(){
    setInterval(function() {
    //call $.ajax here
        $.ajax({
            method : "GET",
            url : "/api/order/dashboard",
        })
        .done(function(res) {
            window.location.reload();
            console.log("yay");
        })
    }, 10000); //5 seconds
    
});

</script>
</body>

</html>