<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login and Registration</title>
	<meta name="description" content="Page login and registration">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				{% if messages %}
				<ul class="messages">    
					{% for message in messages %}    
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
					{% endfor %}
				</ul>
				{% endif %}
				<form class="form-horizontal" name="registration" action="/register" onsubmit="validateForm()" method="POST">
					{% csrf_token %}
					<input type="hidden" name="registration" value="#">
					<div class="form-group">
						<label class="control-label col-sm-12"><h3>Registration</h3></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="first_name">First Name</label>
						<div class="col-sm-12">
							<input type="text" class="form-control" name="first_name" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="last_name">Last Name</label>
						<div class="col-sm-12"> 
							<input type="text" class="form-control" name="last_name" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="age">Age</label>
						<div class="col-sm-12"> 
							<input type="date" class="form-control" name="age" required>
						</div>
					</div>
					<div class="form-group"> 
						<label class="control-label col-sm-4" for="email">Email</label>
						<div class="col-sm-12"> 
							<input type="email" class="form-control" name="email" required>
						</div>
					</div>
					<div class="form-group"> 
						<label class="control-label col-sm-4" for="password">Password</label>
						<div class="col-sm-12"> 
							<input type="text" class="form-control" name="password" required>
						</div>
					</div>
					<div class="form-group"> 
						<label class="control-label col-sm-6" for="confirm_password">Confirm Password</label>
						<div class="col-sm-12"> 
							<input type="text" class="form-control" name="confirm_password" required>
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</div>
				</form>

				<form class="form-horizontal" action="/login" method="POST">
					{% csrf_token %}
					<input type="hidden" name="login" value="#">
					<div class="form-group">
						<label class="control-label col-sm-12"><h3>Login</h3></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="email">Email</label>
						<div class="col-sm-12">
							<input type="email" class="form-control" name="email">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="password">Password</label>
						<div class="col-sm-12"> 
							<input type="password" class="form-control" name="password">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function validateForm() {
			var f_name = document.forms["registration"]["first_name"].value;
			var l_name = document.forms["registration"]["last_name"].value;
			var email = document.forms["registration"]["email"].value;
			var age = document.forms["registration"]["age"].value;
			var pwd = document.forms["registration"]["password"].value;
			// alert(pwd.length);
			var confirm_pwd = document.forms["registration"]["confirm_password"].value;
			var letters = /^[A-Za-z]+$/;
			if ((f_name.length < 3) || (l_name.length < 3) || f_name.match(letters) || l_name.match(letters)){
				alert("Name must be filled out/should contain only characters");
				return false;
			}
			// alert("ohhhh");
			if (pwd.length < 8){
				alert("Invalid passwrod");
				return false;
			}
		} 
	</script>
</body>
</html>