<!DOCTYPE html>
<html>
<head>
	<title>HTML Table</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Full Name</th>
    </tr>
  </thead>
  <tbody>

    {% for user in user %}
    <tr>
    	<td>{{user.first_name}}</td>
    	<td>{{user.last_name}}</td>
    	<td>{{user.first_name}} {{user.last_name}}</td>
    </tr>   
    {% endfor %}
    
  </tbody>
</table>

</body>
</html>