*{
	padding: 0px;
	margin: 0px auto;
}
/*form{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}*/
.container{
	padding: 0px;
	margin: 0px;
}
.center{
	width: 120px;
    margin: 10px auto;
}
.full_width{
	width: 100%;
	text-align: center; 
	margin: auto auto;
}
.fixed{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
}
.btn{
	z-index: 30;
}
.display_block{
	display: block;
}