<!DOCTYPE html>
<html>
<head>
	<title>Play ground</title>
	<style type="text/css">
		div{
			background-color: blue;
			{% if color!=None %}
				background-color: {{color}};
			{% endif %}
			height: 200px;
			width: 200px;
			display: inline-block;
			margin: 30px;
		}
		body{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Welcome</h1>
	<div></div>
	<div></div>
	<div></div>
	{% if num_times!=Undefined %}
		{% for x in range(0,num_times-3) %}
			<div></div>
		{% endfor %}
	{% endif %}
</body>
</html>